:root {}

body {
  background-color: hsl(0, 0%, 90%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  position: relative;
  flex-grow: 1;
}

a {
  color: hsl(0, 0%, 90%)
}

a:hover {
  color: hsl(200, 100%, 80%)
}



.mdi-book-open-page-variant {
  font-size: 10rem;
}

.no-interact {
  pointer-events: none;
  user-select: none;
}

.learn-button {
  /* trying to make it so double tap on mobile doesn't zoom */
  touch-action: manipulation;
}

#meaning {
  font-family: 'Rampart One', cursive;
}

#wisdom {
  font-family: 'Rampart One', cursive;
}

#people {
  font-family: 'Rampart One', cursive;
}

#auto {
  font-family: 'Rampart One', cursive;
}

#stage {
  font-family: 'Rampart One', cursive;
}